@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@keyframes bg-ani {
  0% {
    background-position: 30% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}
@keyframes bg-vector {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-95vh);
    opacity: 0;
  }
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #013d7c 5%, #01438a 10%, #012950, #000408, #012950, #002c5a) 100% no-repeat;
  width: 100%;
  height: 100vh;
  background-size: 400% 400%;
  overflow-x: hidden;
  animation: bg-ani 15s ease-in-out infinite;
  font-family: Manrope, sans-serif;
  position: relative;
}

.header .navbar a, .header button {
  color: white !important;
  font-weight: 500;
  font-size: 18px;
  line-height: 24.59px;
}
.header button:nth-of-type(1) {
  background-color: transparent;
  border: none;
}
.header button:nth-of-type(2) {
  background-color: #ff4820;
}

.hero .hero-heading {
  background: -webkit-linear-gradient(155deg, rgb(244, 152, 103) 20%, rgb(174, 103, 250) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -4%;
}
.hero .hero-para, .hero ::-webkit-input-placeholder {
  color: #81afdd;
  font-weight: 400;
  font-size: 20px;
  line-height: 27.32px;
}
.hero ::-webkit-input-placeholder {
  color: #3D6184;
  text-transform: capitalize;
}
.hero .hero-form input {
  background-color: #052D56;
  border: none;
}
.hero .hero-form span {
  background-color: #ff4820;
  border: none;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 27.32px;
  font-weight: 700;
  color: white;
}
.hero .hero-footer img {
  width: 30%;
  height: 30%;
}
.hero .hero-footer-para {
  font-weight: 500;
  font-size: 12px;
  line-height: 37.61px;
  color: white;
}
.hero .hero-right-img img {
  max-width: fit-content;
}

.background-vector {
  width: 100%;
  bottom: -200px;
  z-index: -1;
}
.background-vector img {
  width: 30px;
  animation: bg-vector 7s linear infinite;
}
.background-vector img:nth-child(1) {
  animation-delay: 2s;
}
.background-vector img:nth-child(2) {
  animation-delay: 1s;
}
.background-vector img:nth-child(3) {
  animation-delay: 3s;
}
.background-vector img:nth-child(4) {
  animation-delay: 4.5s;
}
.background-vector img:nth-child(5) {
  animation-delay: 3s;
}
.background-vector img:nth-child(6) {
  animation-delay: 1.5s;
}
.background-vector img:nth-child(7) {
  animation-delay: 7s;
}
.background-vector img:nth-child(8) {
  animation-delay: 2.5s;
}
.background-vector img:nth-child(9) {
  animation-delay: 1.8s;
}
.background-vector img:nth-child(10) {
  animation-delay: 2s;
}
.background-vector img:nth-child(11) {
  animation-delay: 1s;
}
.background-vector img:nth-child(12) {
  animation-delay: 3s;
}
.background-vector img:nth-child(13) {
  animation-delay: 4.5s;
}
.background-vector img:nth-child(14) {
  animation-delay: 3s;
}
.background-vector img:nth-child(15) {
  animation-delay: 1.5s;
}
.background-vector img:nth-child(16) {
  animation-delay: 7s;
}
.background-vector img:nth-child(17) {
  animation-delay: 2.5s;
}
.background-vector img:nth-child(18) {
  animation-delay: 1.8s;
}

/*# sourceMappingURL=style.css.map */
