@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

$main-font: Manrope, sans-serif;
$main-text-color: #81afdd;
$background-linear: linear-gradient(to bottom right,  #01438a 10%, #012950, #000408,  #012950, #002c5a) 100% no-repeat;
$text-background-linear: rgba(244,152,103,1) 20%, rgba(174,103,250,1);
$footer-font: Questrial, sans-serif;