@use 'index' as *;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    @include bg-color-linear;
    font-family: 100% $main-font;
    // position: relative;
    background-color: #021427;
}
.header {
    .navbar a, button {
        color: white !important;
        font-weight: 500;
        font-size: 18px;
        line-height: 24.59px;
    }
    button:nth-of-type(1) {
        background-color: transparent;
        border: none;
    }
    button:nth-of-type(2) {
        background-color: #ff4820;
    }
}
.hero {
    #{&}-heading {
        @include text-color-linear;
        font-weight: 800;
        font-size: 58px;
        line-height: 75px;
        width: 700px;
        letter-spacing: -4%;
        
    }
    #{&}-para, ::-webkit-input-placeholder {
        color: $main-text-color;
        font-weight: 400;
        @include hero-text-para;
    }
    ::-webkit-input-placeholder {
    color: #3D6184;
    text-transform: capitalize;
    }
    #{&}-form {
        input {
            background-color: #052D56;
            border: none;
        }
        span {
            background-color: #ff4820;
            border: none;
            text-transform: capitalize;
            @include hero-text-para;
            font-weight: 700;
            color: white;
        }
        
    }
    #{&}-footer {
        img {
            width: 30%;
            height: 30%;
        }
        &-para{
            font-weight: 500;
            font-size: 12px;
            line-height: 37.61px;
            color: white;
        }
    }

}
.hero-logos {
    .img1 {
    width: 7%
    }
    .img2 {
        width: 8%
        }
    .img3 {
    width: 9%
    }
    .img4 {
        width: 10%
        }
    .img5 {
        width: 8%
        }
}
.about {
    &-row {
        background: linear-gradient(150deg, #31415a, #042c54, #042c54, #1870ce);
        #{&}1 p {
            width: 700px
        }
        #{&}3 p {
            width: 320px
        }
    }
    .dash {
        @include text-dash;
    }
    h3 {
        @include about-h3;
    }
    p {
        @include medium-paragraph;
    }
    #{&}-row2 {
        p {
            color: #ff8a71;
        }
        h2 {
            @include text-color-linear;
            @include h2-bold
            
        }
    }
}
.benefits {
    margin-top: 170px;
    h2 {
        @include text-color-linear;
        @include h2-bold;
    }
    p {
        @include medium-paragraph
    }
    .p-color {
        color: #ff8a71;
    }
    .p-size {
        font-size: 14px;
        line-height: 24px;
    }
    .dash {
        @include text-dash;
        width: 30px;
    }
    h4 {
        @include about-h3;
        font-size: 18px;
        // width: 250px;
    }
}
.features {
    .text-right {
        p {
            @include medium-paragraph;
        }
        p:nth-of-type(1){
            color: #71e5ff;
        }
        h2 {
            @include h2-bold;
            @include text-color-linear;
        }
        p:nth-of-type(2){
            font-size: 16px;
        }
        p:nth-of-type(3){
            color: #ff8a71;
        }
    }
}




.background-vector{
    width: 100%;
    bottom: -10%;
    z-index: -2;
    img {
        width: 30px;
        animation: bg-vector 7s linear infinite;
    }
    & img:nth-child(1) {
        animation-delay: 12s;
    }
    & img:nth-child(2) {
        animation-delay: 2s;
    }
    & img:nth-child(3) {
        animation-delay: 10s;
    }
    & img:nth-child(4) {
        animation-delay: 4s;
    }
    & img:nth-child(5) {
        animation-delay: 8s;
    }
    & img:nth-child(6) {
        animation-delay: 3.5s;
    }
    & img:nth-child(7) {
        animation-delay: 7s;
    }
    & img:nth-child(8) {
        animation-delay: 2.5s;
    }
    & img:nth-child(9) {
        animation-delay: 1s;
    }
    & img:nth-child(10) {
        animation-delay: 2s;
    }
    & img:nth-child(11) {
        animation-delay: 4s;
    }
    & img:nth-child(12) {
        animation-delay: 5s;
    }
    & img:nth-child(13) {
        animation-delay: 7s;
    }
    & img:nth-child(14) {
        animation-delay: 6s;
    }
    & img:nth-child(15) {
        animation-delay: 4s;
    }
    & img:nth-child(16) {
        animation-delay: 9s;
    }
    & img:nth-child(17) {
        animation-delay: 11s;
    }
    & img:nth-child(18) {
        animation-delay: 4s;
    }
    & img:nth-child(19) {
        animation-delay: 8s;
    }
    & img:nth-child(20) {
        animation-delay: 1s;
    }
    & img:nth-child(21) {
        animation-delay: 3.5s;
    }
    & img:nth-child(22) {
        animation-delay: 5.6s;
    }
}