@use 'index' as *;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    @include bg-color-linear;
    font: 100% $main-font;
    position: relative;
    background-color: #021427;
}
.header {
    .navbar a, button {
        color: white !important;
        font-weight: 500;
        font-size: 18px;
        line-height: 24.59px;
    }
    button:nth-of-type(1) {
        background-color: transparent;
        border: none;
    }
    button:nth-of-type(2) {
        background-color: #ff4820;
    }
}
.hero {
    #{&}-heading {
        @include text-color-linear;
        font-weight: 800;
        font-size: 58px;
        line-height: 75px;
        letter-spacing: -4%;
        
    }
    #{&}-para, ::-webkit-input-placeholder {
        color: $main-text-color;
        font-weight: 400;
        @include hero-text-para;
    }
    ::-webkit-input-placeholder {
    color: #3D6184;
    text-transform: capitalize;
    }
    #{&}-form {
        input {
            background-color: #052D56;
            border: none;
        }
        span {
            background-color: #ff4820;
            border: none;
            text-transform: capitalize;
            @include hero-text-para;
            font-weight: 700;
            color: white;
        }
        
    }
    #{&}-footer {
        img {
            width: 30%;
            height: 30%;
        }
        &-para{
            font-weight: 500;
            font-size: 12px;
            line-height: 37.61px;
            color: white;
        }
    }

}
.hero-logo1 {
    display: none;
}
.about {
    margin-top: 100px;
    &-row {
        background: linear-gradient(150deg, #31415a, #042c54, #042c54, #1870ce);
    }
    .dash {
        @include text-dash;
    }
    h3 {
        @include about-h3;
    }
    p {
        @include medium-paragraph;
    }
    #{&}-row2 {
        p {
            color: #ff8a71;
        }
        h2 {
            @include text-color-linear;
            @include h2-bold
            
        }
    }
}
.benefits {
    margin-top: 170px;
    h2 {
        @include text-color-linear;
        @include h2-bold;
        // width: 420px;
    }
    p {
        @include medium-paragraph;
    }
    .p-color {
        color: #ff8a71;
    }
    .p-size {
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 15px;

    }
    .dash {
        @include text-dash;
        width: 30px;
    }
    h4 {
        @include about-h3;
        font-size: 18px;
    }
}
.features {
    .text-right {
        p {
            @include medium-paragraph;
        }
        p:nth-of-type(1){
            color: #71e5ff;
        }
        h2 {
            @include h2-bold;
            @include text-color-linear;
        }
        p:nth-of-type(2){
            font-size: 16px;
        }
        p:nth-of-type(3){
            color: #ff8a71;
        }
    }
}
.get-started {
    margin: 150px 0 100px 0;
    &-row {
        background: linear-gradient( to left, $text-background-linear);
    }
    #{&}-left{
        p {
            @include medium-paragraph;
            font-size: 12px;
            color: #0e0e0e;
            margin-bottom: 0;
        }
        h3 {
            @include about-h3;
            margin-bottom: 0;
            color: #000000
        }
    }
    #{&}-right {
        button {
            background-color: #000000;
            font-weight: 700;
            font-size: 18px;
            color: white;
            border: none;
        }
    }
}
.blog {
    margin-bottom: 150px;
    h2 {
        font-weight: 800;
        font-size: 62px;
        line-height: 79px;
        @include text-color-linear;
        margin-bottom: 80px;
        letter-spacing: -3px;
    }
    .card {
        border: none;
        outline: none;
        background-color: transparent;
        &-body {
            background-color: #042c54 ;
            p {
                font-size: 11px;
                color: white;
                font-weight: 700;
            }
            .card-text {
                font-weight: 800;
                font-size: 19px;
                color: white;
                padding-bottom: 50px;
            }
        }  
    }
    .first {
        height: 100%;
        .card-text {
            font-size: 25px;
        }
    }

}
footer {
    position: relative;
    background-color: #031b34;
    padding-top: 120px;
    h3 {
        @include text-color-linear;
        font-size: 62px;
        font-weight: 800;
        line-height: 70px;
        letter-spacing: -4px;
    }
    button {
        background-color: transparent;
        color: white;
        font: 100% $footer-font;
        border: 1px solid whitesmoke;
        font-size: 18px;

    }
    p {
        color: white;
        font: 100% $footer-font;
        font-size: 12px;
        padding: 8px 0;
        line-height: 20px;
    }
    h6 {
        font-size: 14px;
        color: white;
        font: 100% $footer-font;
    }
    a {
        text-decoration: none;
    }
    .background-vector{
        width: 100%;
        bottom: 0;
        z-index: -1;
        position: absolute;
        img {
            width: 30px;
            animation: bg-vector 40s linear infinite;
            @include delay (44);
        }
    
    }
}














@media screen and (max-width: 650px) {
    body{
        padding: 0 15px;
    }
    .row {
        --bs-gutter-x: 0;
    }
    .header {
        .navbar {
            .fa-solid {
                font-size: 30px;
            }
        }
    }
    .hero {
        #{&}-heading {
        line-height: 40px;
        font-size: 30px;
        padding-bottom: 20px;
        }
        #{&}-para {
            font-size: 16px;
            padding: 0 5px;
            text-align: justify;
            .break {
                display: none;
            }
        }
        #{&}-form span {
            margin-top: 10px;
            display: block;
            width: 100%;
            text-align: center;
        }
        #{&}-right-img {
            margin: 30px 0 20px;
        }
    }
    .hero-logo {
        display: none;
    }
    .hero-logo1 {
        display: inline;
        .fa-brands {
            font-size: 20px;
            padding: 0 10px;
            margin-left: 20px;
        }
    }
    .about {
        margin-top: 60px;
        p {
            padding: 0 10px;
        }
        .dash {
            margin-inline: auto
        }
        #{&}-row1 p {
            text-align: justify;
        }
        #{&}-row2 {
            h2 {
                font-size: 25px;
                line-height: 30px;
                margin-bottom: 15px;
                padding: 0 5px;
            }
        }
        .break {
            display: none;
        }
    }
    .benefits {
        margin-top: 80px;
        h2 {
            font-size: 25px;
            line-height: 30px; 
            text-align: center;
            width: 330px;
        }
        p {
            @include medium-paragraph;
        }
        .p-color {
            text-align: center;
        }
        .dash {
            @include text-dash;
            width: 50px;
        }
        h4 {
            @include about-h3;
            font-size: 18px;
        }
        .break {
            display: none;
        }
    }
    .features {
        .text-right {
            p {
                padding-top: 15px;
                text-align: center;
            }
            h2 {
                font-size: 25px;
                line-height: 30px;
            }
            p:nth-of-type(2){
                text-align: justify;
            }
            .break {
                display: none;
            }
        }
    }
    .get-started {
        margin: 100px 0;
        #{&}-left{
            p {
                margin-top: 15px;
            }
            h3 {
                margin: 15px 0;
            }
        }
        #{&}-right {
            button {
                width: 90%;
                margin: 20px 0;
            }
        }
    }
    .blog {
        h2 {
            font-size: 40px;
            line-height: 45px;
            margin-bottom: 50px;
        }
        .card {
                padding: 20px 0;
            }  
        .first {
            height: 100%;
            .card-text {
                font-size: 25px;
            }
        }
    }
    footer {
        padding-top: 80px;
        h3 {
            font-size: 42px;
            line-height: 50px;
            letter-spacing: 0px;
        }
        button {
            background-color: transparent;
            color: white;
            font: 100% $footer-font;
            border: 1px solid whitesmoke;
            font-size: 18px;
    
        }
        p {
            color: white;
            font: 100% $footer-font;
            font-size: 12px;
            padding: 8px 0;
            line-height: 20px;
        }
        h6 {
            font-size: 14px;
            color: white;
            font: 100% $footer-font;
        }
        a {
            text-decoration: none;
        }
        .background-vector{
            flex-wrap: wrap;
        }
    }
    
}
@media screen and (min-width: 651px) and (max-width: 991px) {
    body{
        padding: 0 20px;
    }
    .row {
        --bs-gutter-x: 0;
    }
    .header {
        .navbar {
            .fa-solid {
                font-size: 30px;
            }
        }
    }
    .hero {
        #{&}-heading {
        line-height: 50px;
        font-size: 45px;
        text-align: center;
        padding-bottom: 30px;
        }
        #{&}-para {
            font-size: 20px;
            padding: 0 5px;
            text-align: justify;
            .break {
                display: none;
            }
        }
        #{&}-footer img {
            margin-left: 100px;
        }
    }
    .hero-logo {
        
        img {
            width: 40%;
            margin-bottom: 15px;
        }
    }
    .about {
        p {
            padding: 0 20px;
        }
        .dash {
            margin-inline: auto
        }
        #{&}-row1 p {
            text-align: justify;
        }
        #{&}-row2 {
            h2 {
                font-size: 35px;
                line-height: 50px;
                margin-bottom: 15px;
                padding: 0 5px;
            }
        }
        .break {
            display: none;
        }
    }
    .benefits {
        h2 {
            font-size: 35px;
            line-height: 40px; 
        }

        .dash {
            @include text-dash;
            width: 50px;
        }
        h4 {
            @include about-h3;
            font-size: 18px;
        }
        .break {
            display: none;
        }
    }
    .features {
        .text-right {
            p {
                padding-top: 15px;
                text-align: center;
            }
            h2 {
                font-size: 30px;
                line-height: 40px;
            }
            p:nth-of-type(2){
                text-align: center;
            }
        }
    }
    .get-started {
        margin: 100px 0;
        #{&}-left{
            p {
                margin-top: 15px;
            }
            h3 {
                margin: 15px 0;
            }
        }
        #{&}-right {
            button {
                width: 90%;
                margin: 20px 0;
                font-size: 6px;
            }
        }
    }
    .blog {
        h2 {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 50px;
        }
        .card {
                padding: 20px 0;
            }  
        .first {
            height: 100%;
            .card-text {
                font-size: 25px;
            }
        }
    }
    footer {
        padding-top: 80px;
        h3 {
            font-size: 42px;
            line-height: 50px;
            letter-spacing: 0px;
        }
        button {
            background-color: transparent;
            color: white;
            font: 100% $footer-font;
            border: 1px solid whitesmoke;
            font-size: 18px;
    
        }
        p {
            color: white;
            font: 100% $footer-font;
            font-size: 12px;
            padding: 8px 0;
            line-height: 20px;
        }
        h6 {
            font-size: 14px;
            color: white;
            font: 100% $footer-font;
        }
        a {
            text-decoration: none;
        }
        .background-vector{
            flex-wrap: wrap;
        }
    }
    
}
@media screen and (min-width: 992px) and (max-width: 1300px) {
    .row {
        --bs-gutter-x: 0;
    }
    .header {
        .navbar a, .navbar button {
            font-size: 13px;
        }
    }
    .hero {
        #{&}-heading {
        line-height: 45px;
        font-size: 40px;
        }
        #{&}-para {
            font-size: 15px;
            padding: 0 5px;
            text-align: justify;
            .break {
                display: none;
            }
        }
        #{&}-right-img {
            width: 90%;
            padding-left: 25px;
        }
    }
    .about {
        #{&}-row2 {
            h2 {
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 15px;
                padding: 0 5px;
            }
        }
        #{&}-row3 {
            p {
                margin-right: 30px;
            }
        }
        .break {
            display: none;
        }
    }
    .benefits {
        h2 {
            font-size: 27px;
            line-height: 35px; 
            width: 320px;
        }
    }
    .features {
        .text-right {
            padding-top: 70px;
            margin-left: 30px;
            h2 {
                font-size: 30px;
                line-height: 40px;
            }
            p {
            font-size: 16px;
            }
        }
    }
    .get-started {
        margin: 100px 0;
    }
    .blog {
        .card {
                margin: 10px 20px;
            }  
        .first {
            height: 97.5%;
            .card-text {
                font-size: 25px;
            }
        }
    }
    footer {
        .background-vector{
            flex-wrap: wrap;
        }
    }
    
}