@use 'index' as *;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    @include bg-color-linear;
    font-family: $main-font;
    position: relative;
}
.header {
    .navbar a, button {
        color: white !important;
        font-weight: 500;
        font-size: 18px;
        line-height: 24.59px;
    }
    button:nth-of-type(1) {
        background-color: transparent;
        border: none;
    }
    button:nth-of-type(2) {
        background-color: #ff4820;
    }
}
.hero {
    #{&}-heading {
        @include text-color-linear;
        font-weight: 800;
        font-size: 62px;
        line-height: 75px;
        letter-spacing: -4%;
        
    }
    #{&}-para, ::-webkit-input-placeholder {
        color: $main-text-color;
        font-weight: 400;
        @include hero-text-para;
    }
    ::-webkit-input-placeholder {
    color: #3D6184;
    text-transform: capitalize;
    }
    #{&}-form {
        input {
            background-color: #052D56;
            border: none;
        }
        span {
            background-color: #ff4820;
            border: none;
            text-transform: capitalize;
            @include hero-text-para;
            font-weight: 700;
            color: white;
        }
        
    }
    #{&}-footer {
        img {
            width: 30%;
            height: 30%;
        }
        &-para{
            font-weight: 500;
            font-size: 12px;
            line-height: 37.61px;
            color: white;
        }
    }
    #{&}-right-img img{
        max-width: 100%;
    }
}
.background-vector{
    width: 100%;
    bottom: -200px;
    z-index: -1;
    img {
        width: 30px;
        animation: bg-vector 7s linear infinite;
    }
    & img:nth-child(1) {
        animation-delay: 2s;
    }
    & img:nth-child(2) {
        animation-delay: 1s;
    }
    & img:nth-child(3) {
        animation-delay: 3s;
    }
    & img:nth-child(4) {
        animation-delay: 4.5s;
    }
    & img:nth-child(5) {
        animation-delay: 3s;
    }
    & img:nth-child(6) {
        animation-delay: 1.5s;
    }
    & img:nth-child(7) {
        animation-delay: 7s;
    }
    & img:nth-child(8) {
        animation-delay: 2.5s;
    }
    & img:nth-child(9) {
        animation-delay: 1.8s;
    }
    & img:nth-child(10) {
        animation-delay: 2s;
    }
    & img:nth-child(11) {
        animation-delay: 1s;
    }
    & img:nth-child(12) {
        animation-delay: 3s;
    }
    & img:nth-child(13) {
        animation-delay: 4.5s;
    }
    & img:nth-child(14) {
        animation-delay: 3s;
    }
    & img:nth-child(15) {
        animation-delay: 1.5s;
    }
    & img:nth-child(16) {
        animation-delay: 7s;
    }
    & img:nth-child(17) {
        animation-delay: 2.5s;
    }
    & img:nth-child(18) {
        animation-delay: 1.8s;
    }
}